<div >
      <%= form_for (@bar), :html => {:multipart => true} do |f| %>
        <% if @bar.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@bar.errors.count, "error") %>prohibited this bar from being saved:</h2>
            <ul>
              <% @bar.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <%end%>
            </ul>
          </div>
        <%end%>

        <div class="field">
          <%= f.label :name, "Name" %><br/>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :description,"Beschreibung" %><br/>
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= f.label :address, "Adresse" %><br/>
          <%= f.text_field :address %>
        </div>

        <div class="field">
          <%= f.fields_for :bar_images do |builder| %>
            <% if builder.object.new_record? %>
              <%= builder.label :photo, "Bitte ein Bild auswählen" %>
              <%= builder.file_field :photo %>
            <% end %>
          <% end %>
        </div>
        
        <%= f.fields_for :bar_images do |bar_images| %>
        <% unless bar_images.object.new_record? %>
          <p>
            <%= link_to image_tag(bar_images.object.photo.url(:thumb))%>
            <%= bar_images.check_box :_destroy %>
          </p>
        <% end %>
      <% end %>


        <div class ="actions" >
          <%= f.submit %>
        </div>
      <% end %>

</div>
