%p#notice= notice

%p
  %b Name:
  = @bar.name
%p
  %b Vote:
  = @bar.vote
%p
  %b Description:
  = @bar.description
%p
  %b Address:
  = @bar.address
%p
  %b Picture:
  = @bar.picture
%p
  %iframe{ width: 1200, height: 600, frameborder: 0, scrolling: 'no', marginheight: 0, marginwidth: 0, src: iframe_url(@bar) }

= link_to 'Edit', edit_bar_path(@bar)
\|
= link_to 'Back', bars_path
\|
= link_to 'Destroy', @bar, method: :delete, data: { confirm: 'Are you sure?'}
