
<div id="bar">
  <div id="barname">
    <%= @bar.name %>
  </div>
  <div id="bartext">
    <p><%= @bar.description %></p>
  </div>
  <div id= "space"></div>
  <div id="barlabel">
    Impressionen
  </div>
  <div>
    <% for bar_image in @bar.bar_images %>
    <%= link_to image_tag (bar_image.photo.url(:small)), :id =>"imagespace"%>
    <% end %>
  </div>
  <div id="spacebg">
  </div>
  <div id="space"></div>
  <div>
    <iframe id="iframe" src= <%=iframe_url(@bar)%> style="width:100%" height= "380", frameborder= "0", scrolling= 'no', marginheight= "0", marginwidth= "0" ></iframe>
  </div>
  <div id="space"></div>
  <div id="rate">
    Ambiente<%= rating_for @bar, "ambience", :star => 5 %>
  </div>
  <div id= "space"></div>
  <div id="rate">
    Service<%= rating_for @bar, "service", :star => 5 %>
  </div>
  <div id= "space"></div>
  <div id="rate">
    Preis<%= rating_for @bar, "price", :star => 5 %>
  </div>
  <div id="space">
  </div>
  <div id="barlabel">
    Deine Meinung
  </div>
  <div>
    <% if @bar.comments.exists? %>
        <% @bar.comments.each do |f| %>
          <div class="well sidebar-nav">
            <p> <b> Erstellt von: <%=f.user_name%> </b>
            (vor <%=distance_of_time_in_words(f.created_at, Time.now) %>) </p>  
            <hr>
            <p><%= f.text %></p>
          </div>    
        <%end %>
      <% else %>
         <div class="well sidebar-nav">
            <h5>Leider ist noch kein Kommentar vorhanden</h5>
          </div>
      <%end %>
        <%= form_for [@bar, @bar.comments.build] do |f| %>
        <p><%= f.text_area :text, :id => "comment" %></p>
        <p><%= f.submit "Kommentieren" %></p>
        <!--Like_Button-->
        <p><% if @current_user.present? %>
          <%= toggle_like_button(@bar, @current_user)%>
          <%end %>
        </p>
      <% end %>
  </div>
</div>

<% if can? :update, @bar %>
  <%= link_to 'Edit', edit_bar_path(@bar) %>|
<% end %>

<% if can? :destroy, @bar %>
  <%= link_to 'Destroy', @bar, method: :delete, data: { confirm: 'Are you sure?'} %>
<%end %>
<p><%= flash[:notice] %></p>








