%p#notice= notice

%p#logo
  = @bar.name
%p
  %h3= flash[:notice]

  
/Weiter arbeiten!!!
/%p
/  %b Rating:
/  %td
/  = Category.all.each do |category|
/    %td= category.name
/    %td
/      %ul.rating
/        - form_id = "category_#{category.id}_rating"
/        - form_for category.ratings.last || category.ratings.build, :html=>{:id => "category_#{category.id}_rating",:class => "star_rating_form"} do |f|
/          = f.hidden_field :category_id
/          = f.hidden_field :stars, :id =>"#{form_id}_stars"
/        - (1..5).each do |i|
/          %li.rating_star{"data-form-id" => form_id, "data-stars" => i, :id => '#{form_id}_#{i}'}

%p
  #star-ratings-block
  = render :partial => "rating/rating", :locals => { :asset => @asset }

%p
  %b Description:
  = @bar.description
%p
  = "#{@liker} Person gefaehlt die Location"
  

%p
  %b Picture: 
  = image_tag @bar.picture.url

%p
  %b Address(Google Map)
%p
  %iframe{ width: 1000, height: 500, frameborder: 0, scrolling: 'no', marginheight: 0, marginwidth: 0, src: iframe_url(@bar) }

- if can? :update, @bar
  = link_to 'Edit', edit_bar_path(@bar)

\|  
= link_to 'Back', bars_path
\|
- if can? :like, @bar
  = toggle_like_button(@bar, @current_user)
\|
- if can? :destroy, @bar
  = link_to 'Destroy', @bar, method: :delete, data: { confirm: 'Are you sure?'}