
  
<div id="logo"><%= @bar.name %></div>


<p>
  <b> Beschreibung:</b>
  <%= @bar.description %>
</p>

<% for bar_image in @bar.bar_images %>
  <%= link_to image_tag(bar_image.photo.url(:small))%>
<% end %>

<p><%= flash[:notice] %></p>

<p>
<div id="logo">Wo?</div>
</p>
<iframe src= <%=iframe_url(@bar)%> style="width:100%" height= "380", frameborder= "0", scrolling= 'no', marginheight= "0", marginwidth= "0" ></iframe><br>





                <!--Rating-->
<div id="logo">Bewerte</div>
<% if current_user.present? %>
    <p>
        Ambiente <%= rating_for @bar, "ambience", :star => 5 %>
    </p>
    <p>
        Service <%= rating_for @bar, "service", :star => 5 %>
    </p>
    <p>
        Preis <%= rating_for @bar, "price", :star => 5 %>
    </p>
    <p>  
      <%= toggle_like_button(@bar, @current_user)%>
    </p>
<% else %>
              <!--Like_Button-->
  <p> Du musst Dich zu erst einloggen </p>
  <%= button_to 'Login', "/users/sign_in" %>
<% end  %>
<div >





              <!--Comment-->
<div id="logo">Deine Meinung</div>
    <% if @bar.comments.exists? %>
        <% @bar.comments.each do |f| %>
          <div class="well sidebar-nav">
            <p> <b> Erstellt von: <%=f.user_name%> </b>
            (vor <%=distance_of_time_in_words(f.created_at, Time.now) %>) </p>  
            <hr>
            <p><%= f.text %></p>
          </div>    
        <%end %>
    <% else %>
       <div class="well sidebar-nav">
          <h5>Leider ist noch kein Kommentar vorhanden</h5>
        </div>
    <%end %>
      <%= form_for [@bar, @bar.comments.build] do |f| %>
        <p><%= f.text_area :text, :size => '10x10' %></p>
        <p><%= f.submit "Kommentieren" %>
      <% end %>
</div>

<% if can? :update, @bar %>
  <%= link_to 'Edit', edit_bar_path(@bar) %>|
<% end %>

<% if can? :destroy, @bar %>
  <%= link_to 'Destroy', @bar, method: :delete, data: { confirm: 'Are you sure?'} %>
<%end %>


