%p#notice= notice

%p#logo
  %b
  = @bar.name

%p
  %b Vote:
  = @bar.vote
%p
  %b Description:
  = @bar.description

%p
  %b Picture:
  = image_tag @bar.picture.url

%p
  %b Address(Google Map)
%p
  %iframe{ width: 1000, height: 500, frameborder: 0, scrolling: 'no', marginheight: 0, marginwidth: 0, src: iframe_url(@bar) }

/- if can? :update, @bar
= link_to 'Edit', edit_bar_path(@bar)
\|  
= link_to 'Back', bars_path
\|
/- if can? :destroy, @bar
= link_to 'Destroy', @bar, method: :delete, data: { confirm: 'Are you sure?'}