

%p#logo
  %b
  = @bar.name


%p
  %b Description:
  = @bar.description

%p
  %b Ambience : 
  = rating_for @category, "ambience"
%p  
  - if @current_user.present?
    = toggle_like_button(@bar, @current_user)
    %h3#notice= notice

%p
  = image_tag @bar.picture.url

%p
  %b Address(Google Map)
%p
  %iframe{ width: 700, height: 500, frameborder: 0, scrolling: 'no', marginheight: 0, marginwidth: 0, src: iframe_url(@bar) }

- if can? :update, @bar
  = link_to 'Edit', edit_bar_path(@bar)
  \|
- if can? :destroy, @bar
  = link_to 'Destroy', @bar, method: :delete, data: { confirm: 'Are you sure?'}

- if Comment.exists?
  %table.table.table-bordered
    - Comment.all.each do |f|
      = f.created_at
      %br
      =f.user_name
      %br
      = f.body
      %hr
%p
  %b   
  %form{:action => "#{url_for(:controller=>'comments',:action =>'create')} "}
    %textarea#textarea.field.span12{:rows => "6"}
    %br
    %button.btn Erstellen



