<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
    <li><a href="/pages/index">Home</a></li>

    <li><a href="/bars/new">Bar erstellen</a></li>
  </ul>
  <ul class="nav pull-right">
      <%= search_form_for @search || Bar.ransack(params[:q]), :url => bars_path do |f| %>
      <div class="field" >
        <%= f.label :name_cont, "Suche" %>
        <%= f.text_field :name_cont %>
      </div>
      <% end %>
  </ul>
  <ul class="nav">
      <% if current_user %>
      <li><%= link_to 'Abmelden', destroy_user_session_path, method: :delete %></li>
    </ul>
      <ul class="nav pull-right">
        <li><a>Willkommen, <%= current_user.email %> !</a></li>
      </ul>
      <% else %>
    <ul class="nav">
      <li><%= link_to 'Login', new_user_session_path %></li>
      <li><%= link_to 'Registrieren', new_user_registration_path %></li>
  </ul>
      <% end %>
  </div>
  
</div>
