<!DOCTYPE html>
<html>
<head>
  <title>BarcheckOrg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "shared/navigation/navigation" %>
	<%= yield %>



</body>
</html>
